<div id="templatemo_wrapper">
	<div id = "templatemo_signin">
		<% if current_user.priority == "high" %>
			<h1>Listing users</h1>
			
			<table>
			  <tr>
				<th>User Name</th>
				<th>Email</th>
				<th>Based Country</th>
				<th>Priority</th>
				<th>Sign In Count</th>
				<th>Last Sign In IP</th>
				<th>Current Sign In IP</th>
				<td>Last Sign In Date</td>
			  </tr>
			
			<% @users.each do |user| %>
			  <tr>
				<td><%= user.username %></td>
				<td><%= user.email %></td>
				<td><%= user.basedcountry %></td>
				<td><%= user.priority %></td>
				<td><%= user.sign_in_count %></td>
				<td><%= user.last_sign_in_ip %></td>
				<td><%= user.current_sign_in_ip %></td>
				<td><%= user.last_sign_in_at %></td>
				<td><%= link_to 'Edit', {:controller => "user", :action => "edituser", :id => user } %></td>
				<td><%= link_to "Delete", {:controller => "user", :action => "delete", :id => user }, :confirm => "Are you sure?", :method=>:delete %></td>
			  </tr>
			<% end %>
			</table>
		<% else %>
			<h4>You are not admin account</h4>
		<% end %>
	</div>
</div>
